* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* to remove default list styles, margin, and padding */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-rows: 70px 48px 1fr;
  grid-template-areas: 
    "header"
    "nav"
    "main";
}

main {
  display: grid;
  grid-area: main;
}

/* 
*************** -- Header Styles -- ***************
*/

.header {
  /* background-color: rgb(143, 127, 231); */
  background-color: #5D5C61;
  display: flex;
  align-items: center;
  grid-area: header;
}

h1 {
  font-size: 1.3em;
  color: white;
  margin: 0 auto 0 15px;
  padding: 15px 0;
}

.font-light,
.trademark {
  font-weight: 300;
}

.trademark {
  font-size: .7em;
  position: absolute;
}

.icon-bell {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.profile {
  border-left: 2px solid rgba(0, 0, 0, .2);
}

.profile-avatar,
.member-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile-avatar {
  margin: 0 15px 0 10px;
}

.name {
  color: white;
  font-size: .7em;
  margin: 0 15px 0 2px;
  display: none;
}

/* 
*************** -- Main-Header Styles -- ***************
*/

.main-header h2 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 400;
}

.main-search {
  text-align: center;
  height: 50px;
  background-color: rgb(248, 245, 245);
  margin-bottom: 15px;
}

.main-search input,
.message-search input, 
.timezone {
  font-size: .8em;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  outline: none;
  padding-left: 5px;
}

.main-search input {
  width: 80%;
  max-width: 333px;
  position: relative;
  top: 22%;
  opacity: .7;
}

.main-search input::placeholder {
  font-size: .7rem;
  padding-left: 3px;
}

.alert-banner {
  background-color: rgb(133, 132, 138);
  width: 95%;
  border-radius: 3px;
  color: white;
  margin: 0 auto;
  font-size: .7em;
  height: 32px;
  display: none;
}

.alert-banner-content {
  padding: 10px;
  margin: 0;
}

/* 
*************** -- Nav Sidebar Styles -- ***************
*/

.nav-sidebar {
  display: flex;
  justify-content: space-around;
  /* background-color: rgb(109, 97, 180) */
  background-color: rgb(133, 132, 138);
  grid-area: nav;
}

.sidebar-icons {
  width: 25px;
  height: 25px;
  margin: 10px 0;
}

/* 
*************** -- Chart Section Styles -- ***************
*/

.chart-container,
.social-container {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.traffic-line-graph .section-header h3 {
  margin: 0 0 20px;
}

.section-header {
  margin: 30px 0;
}

.section-header h3 {
  text-transform: uppercase;
  text-align: center;
}

.section-header h3,
.traffic-nav-link {
  font-size: .8em; 
}

.traffic-nav {
  display: flex;
  justify-content: space-evenly;
}

/* 
*************** -- Social Stats Section Styles -- ***************
*/

.stats-container {
  background-color: rgb(248, 245, 245);
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
  width: 90%;
  padding: 20px 0;
  margin: 0 auto 25px;
}

.social-image {
  background-color: rgb(133, 132, 138);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 20px;
}

.twitter-icon,
.facebook-icon,
.google-icon {
  fill: white;
}

.stats-title {
  color: #5D5C61;
  font-weight: 600;
  font-size: .8em;
  letter-spacing: .5px;
  margin: 0;
}

.stat-value {
  font-weight: 300;
  font-size: 2.5em;
  color: rgb(95, 93, 93);
  margin: 0;
}

/* 
*************** -- New Members and Recent Activity Section Styles -- ***************
*/

.members,
.activity {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.member-content,
.activity-content {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.member-content {
  flex-wrap: wrap;
}

.member-content:nth-child(-n+3),
.activity-content:nth-child(-n+3) {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.member--name-activity,
.member--email-timelog {
  margin: 0;
  line-height: 0.5;
}

.member--name-activity,
.member-date, 
.button-title {
  font-size: .7em;
}

.member--email-timelog {
  font-size: .6em;
  color: rgb(133, 132, 138);
}

.member-content-details {
  margin: 3px auto 0 10px;;
}

.activity-content .member--name-activity {
  line-height: 1.2;
}

/* *****  chevron styles from font-awesome ***** */
.fa {
  margin-bottom: 5px;
  font-size: 24px;
}

/* 
*************** -- Message User and Settings Section Styles -- ***************
*/

.message-search input,
.message-text,
.timezone {
  background-color: rgb(248, 245, 245);
  display: block;
  margin: 0 auto;
}

.message-search input,
.message-text,
.message-button {
  width: 100%;
}

.message-search input::placeholder,
.message-text::placeholder {
  font-size: .7rem;
  padding-left: 10px;
  opacity: .5;
}

.message-text::placeholder {
  padding-top: 5px;
}

.message-text {
  font-size: .8em;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  outline: none;
  padding: 10px 0 0 5px;
  height: 100px;
  margin-top: 15px;
}

.message-button,
.save-button,
.cancel-button {
  padding: 15px;
  background-color: rgb(133, 132, 138);
  border-radius: 5px;
  border: 0;
  outline: none;
  font-size: .7em;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.message-button {
  display: block;
  margin: 15px auto 0;
}

.message-button:hover,
.save-button:hover,
.cancel-button:hover {
  cursor: pointer;
}

.message {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.message,
.settings {
  padding: 0 20px 30px;
}

.toggle-buttons-container {
  display: flex;
  align-items: center;
  max-width: 220px;
  margin-bottom: 15px;
}

.button-title {
  margin-right: auto;
}

.timezone {
  opacity: .5;
  font-size: .7em;
  width: 100%;
  margin-top: 33px;
}

.settings-buttons {
  margin: 15px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.save-button,
.cancel-button {
  flex-basis: 47%;
}

/* 
*****  styling for toggle switch *****
built switch following guide from this source: https://medium.com/front-end-weekly/creating-a-toggle-switch-in-css-2d23e496d035 
**************************************
*/

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 25px;
  background-color: rgb(182, 178, 178);
  border-radius: 20px;
  cursor: pointer;
}

.switch::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, .2);
  background-color: white;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 17%;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left: 56px;
}

.checkbox:checked + .switch {
  background-color: rgb(85, 122, 149);
}

.checkbox {
  display: none;
}

.checkbox:checked + .switch .on {
  display: block;
}

.on {
  display: none;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 25%;
  font-size: .7em;
  font-weight: 600;
}

/* 
*************** -- Media Queries -- ***************
*/

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 70px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "header header"
    "nav main";
  }

  .name {
    display: block;
  }
  
  .nav-sidebar {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }

  .nav-sidebar a {
    padding: 10px;
    cursor: pointer;
  }

  .main-header {
    display: flex;
    flex-wrap: wrap;
  }

  .main-header h2 {
    flex-basis: 20%;
  }

  .main-search {
    flex-basis: 80%;
    text-align: right;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .main-search input {
    margin-right: 3%;
    top: 21%
  }

  .traffic-line-graph .section-header,
  .traffic-bar-graph .section-header,
  .doughnut-chart .section-header,
  .social-stats .section-header,
  .members .section-header,
  .activity .section-header {
    padding-left: 20px;
  }

  .section-header h3 {
    text-align: unset;
  }

  .traffic-line-graph .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 18px;
  }

  .traffic-line-graph .section-header h3 {
    margin: 0;
  }

  .traffic-nav {
    flex-basis: 40%;
    justify-content: space-between;
    max-width: 265px;
  }

  .social-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    margin: 0 auto;
  }

  .stats-container {
    flex-basis: 260px;
  }

  main {
    grid-template-columns: 50%;
  }

  .main-header,
  .traffic-line-graph,
  .social-stats {
    grid-column: 1 / span 2;
  }

  .traffic-bar-graph,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .doughnut-chart,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }

  main section:nth-child(8) {
    border-bottom: none;
  }

  .traffic-bar-graph,
  .members,
  .message {
    border-right: 1px solid rgba(0, 0, 0, .1);
  }
}