* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* to remove default list styles, margin, and padding */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-header {
  background-color: rgb(143, 127, 231);
  height: 70px;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.3em;
  color: white;
  margin: 0 auto 0 15px;
  padding: 15px 0;
}

.font-light,
.trademark {
  font-weight: 300;
}

.trademark {
  font-size: .7em;
  position: absolute;
}

.icon-bell {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.profile {
  border-left: 2px solid rgba(0, 0, 0, .2);
}

.profile-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 8px 0 10px;

}

.name {
  color: white;
  font-size: .7em;
  margin: 0 15px 0 2px;
}
