* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* to remove default list styles, margin, and padding */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 
*************** -- Header Styles -- ***************
*/

.header {
  /* background-color: rgb(143, 127, 231); */
  background-color: #5D5C61;
  height: 70px;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.3em;
  color: white;
  margin: 0 auto 0 15px;
  padding: 15px 0;
}

.font-light,
.trademark {
  font-weight: 300;
}

.trademark {
  font-size: .7em;
  position: absolute;
}

.icon-bell {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.profile {
  border-left: 2px solid rgba(0, 0, 0, .2);
}

.profile-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 15px 0 10px;
}

.name {
  color: white;
  font-size: .7em;
  margin: 0 15px 0 2px;
  display: none;
}

/* 
*************** -- Main-Header Styles -- ***************
*/

.main-header h2 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 400;
}

.main-search {
  text-align: center;
  height: 50px;
  background-color: rgb(248, 245, 245);
}

.main-search input {
  position: relative;
  font-size: .8em;
  top: 22%;
  width: 80%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  outline: none;
  padding-left: 5px;
}

.main-search input::placeholder {
  font-size: .7rem;
  padding-left: 3px;
}

.alert {
  background-color: rgb(133, 132, 138);
  width: 90%;
  border: 0;
  border-radius: 3px;
}

/* 
*************** -- Nav Sidebar Styles -- ***************
*/

.nav-sidebar {
  display: flex;
  justify-content: space-around;
  /* background-color: rgb(109, 97, 180) */
  background-color: rgb(133, 132, 138);
}

.sidebar-icons {
  width: 25px;
  height: 25px;
  margin: 10px 0;
}

/* 
*************** -- Chart Section Styles -- ***************
*/

.section-header {
  margin-bottom: 20px;
}

.doughnut-chart .section-header {
  margin-top: 30px;
}

.social-stats .section-header {
  margin: 40px 0 25px;
}

.section-header h3 {
  text-transform: uppercase;
  text-align: center;
}

.section-header h3,
.traffic-nav-link {
  font-size: .8em; 
}

.traffic-nav {
  display: flex;
  justify-content: space-evenly;
}

/* 
*************** -- Social Stats Section Styles -- ***************
*/


.stats-container {
  background-color: rgb(248, 245, 245);
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
  width: 90%;
  padding: 20px 0;
  margin: 0 auto 25px;
}

.social-image {
  background-color: rgb(133, 132, 138);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 20px;
}

.twitter-icon,
.facebook-icon,
.google-icon {
  fill: white;
}

.stats-title {
  color: #5D5C61;
  font-weight: 600;
  font-size: .8em;
  letter-spacing: .5px;
  margin: 0;
}

.stat-value {
  font-weight: 300;
  font-size: 2.5em;
  color: rgb(95, 93, 93);
  margin: 0;
}
